<div class="artist-details-backdrop js-artist-details-backdrop">
  <div class="container">
    <div class="artist-details-modal">
      <button class="modal-close-btn" type="button">
        <svg
          class="modal-close-btn-icon"
          width="32"
          height="32"
          aria-label="close icon"
        >
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
      <div class="artist-details-info">
        <h2 class="artist-details-name"></h2>
        <img class="artist-photo-details" src="" alt="" />
        <ul class="artist-details-list">
          <li class="artist-details-item">
            <p class="artist-details-label">Years active</p>
            <p class="artist-details-value"></p>
          </li>
          <li class="artist-details-item">
            <p class="artist-details-label">Sex</p>
            <p class="artist-details-value"></p>
          </li>
          <li class="artist-details-item">
            <p class="artist-details-label">Members</p>
            <p class="artist-details-value"></p>
          </li>
          <li class="artist-details-item">
            <p class="artist-details-label">Country</p>
            <p class="artist-details-value"></p>
          </li>
          <li class="artist-details-item">
            <p class="artist-details-label">Biography</p>
            <p class="artist-details-value"></p>
          </li>
          <li class="artist-details-item">
            <ul class="artist-genres-list">
              <li class="artist-genres-item"></li>
              <li class="artist-genres-item"></li>
              <li class="artist-genres-item"></li>
              <li class="artist-genres-item"></li>
            </ul>
          </li>
        </ul>
        <h3 class="section-artist-albums-title">Albums</h3>
        <ul class="artist-album-cards">
          <li class="artist-album-card">
            <table>
              <caption class="albums-name"></caption>
              <thead>
                <tr class="row">
                  <th class="col-1">Track</th>
                  <th class="col-2">Time</th>
                  <th class="col-3">Link</th>
                </tr>
              </thead>
              <tbody>
                <tr class="row">
                  <td class="col-1"></td>
                  <td class="col-2"></td>
                  <td class="col-3">
                    <a class="song-link" href="https://" target="_blank">
                      <svg width="24" height="24">
                        <use href="./img/icons.svg#youtube"></use>
                      </svg>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
