<div class="backdrop">
  <div class="container">
    <div class="artist-details-modal">
      <button class="modal-close-btn" type="button">
        <svg
          class="modal-close-btn-icon"
          width="32"
          height="32"
          aria-label="close icon"
        >
          <use href="./img/icons.svg#close"></use>
        </svg>
      </button>
      <h2 class="artist-details-name">Unlike Pluto</h2>
      <img
        class="artist-photo-details"
        src="./img/artist-details-modal/artist-photo.webp"
        alt=""
      />
      <ul class="artist-details-list">
        <li class="artist-details-item">
          <p class="artist-details-label">Years active</p>
          <p class="artist-details-value">2013–present</p>
        </li>
        <li class="artist-details-item">
          <p class="artist-details-label">Sex</p>
          <p class="artist-details-value">Male</p>
        </li>
        <li class="artist-details-item">
          <p class="artist-details-label">Members</p>
          <p class="artist-details-value">1</p>
        </li>
        <li class="artist-details-item">
          <p class="artist-details-label">Country</p>
          <p class="artist-details-value">United States</p>
        </li>
        <li class="artist-details-item">
          <p class="artist-details-label">Biography</p>
          <p class="artist-details-value">
            Armond Arabshahi, known by his stage name Unlike Pluto, is an
            American singer, songwriter, music producer, and former DJ. He is
            mainly known for his song "Everything Black", released under the
            record label Monstercat in 2017, which he produced with
            Philadelphia-based vocalist and DJ Mike Taylor.
          </p>
        </li>
        <li class="artist-details-item">
          <ul class="artist-genres-list">
            <li class="artist-genres-item">Alternative</li>
            <li class="artist-genres-item">Pop</li>
            <li class="artist-genres-item">Rock</li>
            <li class="artist-genres-item">Indie</li>
          </ul>
        </li>
      </ul>
      <h3 class="section-artist-albums-title">Albums</h3>
      <ul class="artist-album-cards">
        <li class="artist-album-card">
          <table>
            <caption class="albums-name">
              Ghost Gardens
            </caption>
            <thead>
              <tr class="row">
                <th class="col-1">Track</th>
                <th class="col-2">Time</th>
                <th class="col-3">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3">
                  <a
                    class="song-link"
                    href="https://youtube.com"
                    target="_blank"
                  >
                    <svg width="24" height="24">
                      <use href="./img/icons.svg#youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr class="row">
                <td class="col-1">Dig</td>
                <td class="col-2">2:54</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Tremor</td>
                <td class="col-2">2:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="artist-album-card">
          <table>
            <caption class="albums-name">
              Ghost Gardens
            </caption>
            <thead>
              <tr class="row">
                <th class="col-1">Track</th>
                <th class="col-2">Time</th>
                <th class="col-3">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3">
                  <a
                    class="song-link"
                    href="https://youtube.com"
                    target="_blank"
                  >
                    <svg width="24" height="24">
                      <use href="./img/icons.svg#youtube"></use>
                    </svg>
                  </a>
                </td>
              </tr>
              <tr class="row">
                <td class="col-1">Dig</td>
                <td class="col-2">2:54</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Tremor</td>
                <td class="col-2">2:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
              <tr class="row">
                <td class="col-1">Rip Me Apart</td>
                <td class="col-2">3:02</td>
                <td class="col-3"></td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>
