<section id="reviews" class="feedback-section">
  <div class="container">
    <h2 class="feedback-title visually-hidden">Feedbacks our visitors</h2>
    <div class="feedback-wrapper">
      <button
        class="feedback-prev-btn"
        type="button"
        aria-label="Previous feedback"
      >
        <svg width="24" height="24">
          <use href="./img/icons.svg#left-arrow-alt"></use>
        </svg>
      </button>
      <div class="swiper">
        <div class="feedbacks-list swiper-wrapper"></div>
      </div>
      <button
        class="feedback-next-btn"
        type="button"
        aria-label="Next feedback"
      >
        <svg width="24" height="24">
          <use href="./img/icons.svg#right-arrow-alt"></use>
        </svg>
      </button>
    </div>

    <div class="custom-pagination">
      <span class="dot dot-first"></span>
      <span class="dot dot-middle"></span>
      <span class="dot dot-last"></span>
    </div>
  </div>
</section>
