<header class="page-header">
  <div class="container page-header-container">
    <nav class="page-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="106" height="30">
          <use xlink:href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="menu">
        <li class="menu-item"><a href="#" class="menu-link">Artists</a></li>
        <li class="menu-item"><a href="#" class="menu-link">About Us</a></li>
        <li class="menu-item"><a href="#" class="menu-link">Reviews</a></li>
      </ul>
    </nav>
    <button class="open-menu-btn active" type="button" aria-label="Open menu">
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-mobile-menu"></use>
      </svg>
    </button>
    <button class="close-menu-btn" type="button" aria-label="Close menu">
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="/img/icons.svg#close-mobile-menu"></use>
      </svg>
    </button>
  </div>
</header>
