.artists-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.artists-container {
  position: relative;
}

.artists-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.artists-text {
  font-family: var(--second-family);
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.artists-list {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
  margin-bottom: 32px;
}

.artist-photo {
  width: 100%;
  height: 177px;
  object-position: center top;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 24px;
}

.artist-genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.artist-genres-item {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 4px 10px;
}

.artist-name {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.artist-text {
  margin-bottom: 24px;
}

.artist-btn {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  border: none;
  border-radius: 12px;
  background-color: transparent;
  font-weight: 500;
  color: var(--color-text);
  fill: var(--color-text);
  transition: opacity 250ms linear visibility 250ms linear;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.loader-wrapper {
  position: absolute;
  left: 50%;
  bottom: 55px;
  transform: translateX(-50%);
}

.loader {
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms ease, transform 300ms ease, visibility 300ms;

  width: 36px;
  height: 36px;
  border: 3px solid #764191;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}
.loader:after {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  border: 3px solid #764191;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

.loader.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.load-more-btn.is-hidden {
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .artists-list {
    row-gap: 32px;
    margin-bottom: 64px;
  }

  .artist-photo {
    min-height: 433px;
  }

  .load-more-btn {
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1440px) {
  .artists-section {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .artists-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .artists-item {
    width: calc((100% - 32px) / 2);
  }

  .load-more-btn {
    min-width: 170px;
  }
}
