@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=IBM+Plex+Sans:wght@100..700&family=Roboto:wght@700&display=swap');

:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  --second-family: 'Epilogue', sans-serif;
  --third-family: 'Roboto', sans-serif;
  --color-text: #ffffff;
  --color-bg: #060307;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}
.no-scroll {
  overflow-y: hidden;
}
