@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&family=IBM+Plex+Sans:wght@100..700&family=Roboto:wght@700&display=swap');

:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  --second-family: 'Epilogue', sans-serif;
  --third-family: 'Roboto', sans-serif;
  --color-text: #fff;
  --color-bg: #060307;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
