.feedback-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.feedback-wrapper {
  margin-bottom: 16px;
}

.feedback-prev-btn,
.feedback-next-btn {
  display: none;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 210px;

  /* ?=========================================== */

  /* row-gap: 32px; */

  /* ?=========================================== */
}

.feedback-rating {
  margin-bottom: 0;
}

.star-container {
  column-gap: 4px;
}

.feedback-message {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  letter-spacing: -0.01em;
}

.feedback-author-name {
  font-weight: 600;
}

.custom-pagination {
  display: flex;
  gap: 9px;
  justify-content: center;
  padding: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--color-text);
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 250ms linear;
}

.dot.active {
  opacity: 1;
  animation: dot-pulse 250ms ease;
}

@keyframes dot-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (width >= 768px) {
  .feedback-wrapper {
    display: flex;
    align-items: center;
  }

  .feedback-prev-btn,
  .feedback-next-btn {
    display: block;
    padding: 11px;
    line-height: 0;
    background-color: transparent;
    border: 1px solid rgb(255 255 255 / 50%);
    border-radius: 8px;
    fill: var(--color-text);
    transition: opacity 250ms linear;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:disabled,
    &:active {
      opacity: 0.2;
    }

    &:disabled {
      cursor: default;
    }
  }

  .feedback-item {
    min-height: 254px;
  }

  .swiper {
    max-width: 518px;
  }

  .feedback-message {
    font-size: 26px;
  }
}

@media screen and (width >= 1440px) {
  .feedback-wrapper {
    margin-bottom: 75px;
  }

  .feedback-item {
    min-height: 236px;
  }

  .swiper {
    max-width: 866px;
  }

  .feedback-message {
    font-size: 32px;
  }
}
