.page-header {
  position: sticky;
  top: 0;
  z-index: 9998;
  background-color: var(--color-bg);
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  fill: #764191;
}

@media screen and (max-width: 767px) {
  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms linear;
  }

  .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 38px;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    text-align: center;
  }

  .mobile-menu-item {
    font-size: 26px;
    font-weight: 500;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-open-btn,
  .mobile-menu-close-btn {
    width: 48px;
    height: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .mobile-menu-icon {
    fill: var(--color-text);
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .page-header-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-icon {
    fill: var(--color-text);
  }

  .mobile-menu,
  .mobile-menu-open-btn {
    display: none;
  }

  .menu {
    display: flex;
    column-gap: 32px;
  }
}
