.page-header {
  position: sticky;
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
}

.logo-icon {
  fill: #764191;
}

.menu {
  display: flex;
}

@media screen and (max-width: 767px) {
  .page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    row-gap: 32px;
    flex-direction: column;
    margin-top: 38px;
    position: fixed;
    top: 64px;
    left: 100%;
    z-index: 10;
    width: 100%;
    /* height: calc(100% - 64px); */
    height: 100%;
    text-align: center;
    transition: left 300ms ease-in-out;
  }

  .menu-item {
    font-size: 26px;
    font-weight: 500;
  }

  .menu.is-open {
    left: 0;
  }

  .open-menu-btn,
  .close-menu-btn {
    width: 48px;
    height: 48px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .open-menu-btn.active {
    display: inline-flex;
  }

  .close-menu-btn {
    display: none;
  }

  .close-menu-btn.active {
    display: inline-flex;
  }

  .mobile-menu-icon {
    fill: var(--color-text);
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .page-header-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-icon {
    fill: var(--color-text);
  }

  .menu {
    column-gap: 32px;
  }

  .open-menu-btn,
  .close-menu-btn {
    display: none;
  }
}
