.hero-section {
  padding-top: 64px;
  padding-bottom: 449px;
  background-color: #23132b;
  background-image:
    linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
    linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
    url('../img/hero/mobile-hero-bg.png');
  background-repeat: no-repeat;
  background-position: top, bottom, bottom;
  background-size:
    100% 80px,
    100% 106px,
    280px 385px;
}

@media only screen and (resolution >= 192dpi) and (width <= 767px) {
  .hero-section {
    background-image:
      linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      url('../img/hero/mobile-hero-bg@2x.png');
  }
}

.page-title {
  margin-bottom: 20px;
  font-family: Epilogue, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.hero-text {
  margin-bottom: 24px;
}

.btn-section {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  padding: 10px 24px;
  font-weight: 500;
  color: var(--color-text);
  background-color: #764191;
  border: none;
  border-radius: 12px;
  box-shadow:
    0 1px 2px 0 rgb(6 3 7 / 5%),
    inset 0 -2px 1px 0 rgb(0 0 0 / 20%),
    inset 0 0 0 1px rgb(6 3 7 / 15%),
    inset 0 2px 1px 0 rgb(255 255 255 / 25%),
    inset 0 32px 24px 0 rgb(255 255 255 / 5%);
  fill: var(--color-text);
  transition:
    box-shadow,
    opacity 250ms linear;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgb(6 3 7 / 5%);
  }
}

@media only screen and (width >= 768px) {
  .hero-section {
    padding-top: 32px;
    padding-bottom: 664px;
    background-image:
      linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      url('../img/hero/tablet-hero-bg.png');
    background-size:
      100% 125px,
      100% 137px,
      704px 632px;
  }

  .page-title {
    margin-bottom: 24px;
  }

  .hero-text {
    margin-bottom: 32px;
    font-size: 20px;
  }

  .page-title,
  .hero-text {
    max-width: 624px;
  }

  .hero-btn {
    display: inline-flex;
    min-width: 246px;
  }
}

@media only screen and (resolution >= 192dpi) and (width >= 768px) {
  .hero-section {
    background-image:
      linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      url('../img/hero/tablet-hero-bg@2x.png');
  }
}

@media only screen and (width >= 1440px) {
  .hero-section {
    padding-top: 215px;
    padding-bottom: 215px;
    margin-right: auto;
    margin-left: auto;
    background-image:
      linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      url('../img/hero/hero-bg.webp');
    background-position:
      top,
      bottom,
      right calc((100vw - 1440px) / 2 + 64px) bottom;
    background-size:
      100% 80px,
      100% 137px,
      641px 900px;
  }

  .page-title {
    font-size: 84px;
  }

  .page-title,
  .hero-text {
    max-width: 640px;
  }

  .hero-btn {
    min-width: 206px;
  }
}

@media only screen and (resolution >= 192dpi) and (width >= 1440px) {
  .hero-section {
    background-image:
      linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      url('../img/hero/hero-bg@2x.webp');
  }
}
