.hero-section {
  position: relative;
  background-color: rgb(35 19 43);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 385px;
    pointer-events: none;
    content: '';
    background-image:
      linear-gradient(180deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%),
      linear-gradient(0deg, rgb(35 19 43 / 0%) 0%, rgb(6 3 7 / 100%) 100%);
    background-repeat: no-repeat;
    background-position: bottom, top;
    background-size:
      100% 106px,
      100% 80px;
  }
}

.hero-content {
  padding-top: 64px;
  padding-bottom: 64px;
}

.page-title {
  margin-bottom: 20px;
  font-family: Epilogue, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.hero-text {
  margin-bottom: 24px;
}

.btn-section {
  display: flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  font-weight: 500;
  color: var(--color-text);
  background-color: #764191;
  border: none;
  border-radius: 12px;
  box-shadow:
    0 1px 2px 0 rgb(6 3 7 / 5%),
    inset 0 -2px 1px 0 rgb(0 0 0 / 20%),
    inset 0 0 0 1px rgb(6 3 7 / 15%),
    inset 0 2px 1px 0 rgb(255 255 255 / 25%),
    inset 0 32px 24px 0 rgb(255 255 255 / 5%);
  fill: var(--color-text);
  transition:
    box-shadow 250ms linear,
    opacity 250ms linear;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    box-shadow: 0 1px 2px 0 rgb(6 3 7 / 5%);
  }
}

/* hero-animation */

.marquee {
  display: flex;
  column-gap: 16px;
  user-select: none;
}

.marquee-column {
  flex: 1;
  max-height: 385px;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-bottom: 16px;
  animation: scroll-vertical 20s linear infinite;
  will-change: transform;
}

.marquee-track img {
  width: 100%;
  pointer-events: none;
  border-radius: 16px;
}

.marquee-track.is-reverse {
  animation-direction: reverse;
}

@keyframes scroll-vertical {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -50%, 0);
  }
}

/* hero-animation */

@media only screen and (width >= 768px) {
  .hero-section::after {
    height: 632px;
    background-size:
      100% 137px,
      100% 80px;
  }

  .hero-content {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .page-title {
    margin-bottom: 24px;
  }

  .hero-text {
    margin-bottom: 32px;
    font-size: 20px;
  }

  .page-title,
  .hero-text {
    max-width: 624px;
  }

  .hero-btn {
    display: inline-flex;
    min-width: 246px;
  }

  .marquee-column {
    max-height: 632px;
  }
}

@media only screen and (width >= 1440px) {
  .hero-section::after {
    height: 137px;
    background-image: linear-gradient(
      180deg,
      rgb(35 19 43 / 0%) 0%,
      rgb(6 3 7 / 100%) 100%
    );
    background-size: auto;
  }

  .hero-container {
    display: flex;
    justify-content: space-between;
  }

  .hero-content {
    padding-top: 216px;
  }

  .page-title {
    font-size: 84px;
  }

  .hero-btn {
    min-width: 206px;
  }

  .marquee-column {
    max-height: 900px;
  }
}
